@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  overflow: hidden;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --container-max-width: 1200px;
  --container-padding: 1rem;

  --font-line-bold: "var(--font-line-bold)", sans-serif;
  --font-line-regular: "var(--font-line-regular)", sans-serif;
  --font-line-thin: "var(--font-line-thin)", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-line-regular), sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .container {
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  @layer base {
    * {
      @apply border-border;
      font-family: var(--font-pretendard);
    }
    body {
      @apply bg-background text-foreground;
    }
    *:focus-visible {
      outline: none;
    }
  }

  .text-balance {
    text-wrap: balance;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  .font-line-bold {
    font-family: var(--font-line-bold);
  }

  .font-line-regular {
    font-family: var(--font-line-regular);
  }

  .font-line-thin {
    font-family: var(--font-line-thin);
  }

  .cursor-effect {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #c9d8d4;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 5s ease-out;
  }

  .hover-underline {
    position: relative;
  }

  .hover-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    bottom: -8px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    /* transition: transform 0.5s ease-out; */
  }

  .hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
